VITE_GOOGLE_CLIENT_ID=579864871614-o90r392pup5745p87u54opq0skf52q19.apps.googleusercontent.com
GOOGLE_CLIENT_ID=579864871614-o90r392pup5745p87u54opq0skf52q19.apps.googleusercontent.com
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=fresh-linkedin-profile-data.p.rapidapi.com
PORT=4000
